<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tecnoshop Tiendas</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <main>
      <h1 class="titulo">Tecnoshop</h1>
      <div class="min">

        <p>Endpoints disponibles:</p>

        <table class="table">
          <tbody>
            <tr>
              <td class="left">GET</td>
              <td>/products</td>
            </tr>
            <tr>
              <td class="left">GET</td>
              <td>/products/🆔</td>
            </tr>
            <tr>
              <td class="left">POST</td>
              <td>/products</td>
            </tr>
            <tr>
              <td class="left">PATCH</td>
              <td>/products/🆔</td>
            </tr>
            <tr>
              <td class="left">DELETE</td>
              <td>/products/🆔</td>
            </tr>
          </tbody>
        </table>

      </div>
    </main>
  </body>
</html>
